.forgot{
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 120px;

    font-family: 'Gotham-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color:#1E6B6B; 
}

.dont-worry{
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

.email-inputf{
    position: absolute;
    margin-left: 33vw;
  }

.email-label{
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    font-family: Gotham-Bold;
    color: #000000;
    margin-left: 1vw;
}

  .input-emailf{
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    width: 34vw;
    height: 7vh;
    padding: 1vw;
  }

  .submit-bttn{
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    font-family: Gotham-Bold;
    color: #FFFFFF;
    
    margin-left: 26vw;
    margin-top: 2vh;
    background-color: #1E6B6B;
    width: 8vw;
    height: 5vh;
    border-radius: 31px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .go-back{
    margin-top: 170px;
    text-align: center;
    font-size: 20px;
}

.log-link{
    text-decoration: none;
    text-align: center;
}


  