.color-container {
    background-color: #1e6b6b;
    width: 100%;
    height: 35px;
  }
  
  .main-navbar {
    width: 100%;
    height: 112px;
    background-color: #f0f1f1;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .logo-png {
    width: 60px;
    height: 70px;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
  }
  
  .falcon {
    color: #1e6b6b;
    margin-top: 50px;
    margin-left: 10px;
    font-family: Gotham-bold;
  }
  
  .nav-item {
    height: 10vh;
    margin-top: 12px;
  }
  
  .nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-left: 13rem;
    margin-top: 2rem;
  }
  
  .nav-login,
  .nav-enroll{
    color: white;
    width: 150px;
    height: 41px;
    background-color: #1e6b6b;
    border-radius: 31px;
    margin-top: 1px;
    padding-top: 10px;
    margin-left: 40px;
  }
  
  .nav-enroll a {
    color: white;
  }
  .nav-login a {
    color: white;
  }
  
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    padding: 6px 16px;
    border-radius: 5px;
    position: relative;
    font-family: Gotham-bold;
  }
  
  @font-face {
    font-family: Gotham-bold;
    src: url(../../Font/GothamBold.ttf);
  }

  a:hover{
    color:#1e6b6b
  }
  .nav-enroll a:hover{
    color:white;
  }
  .nav-login a:hover{
    color:white;
  }